* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: var(--black, #0E1014);
    width: 100%;
}

.noise{
    display: none;
}
.glass{
    display: none;
}
.yellowblur{
    display: none;
}
.redball {
    fill: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(255, 208, 208, 0.54) 0%, rgba(212, 93, 93, 0.26) 59.67%, rgba(167, 49, 49, 0.25) 78.59%, rgba(130, 25, 25, 0.25) 100%);
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
    backdrop-filter: blur(2px);
    width: 5.1875rem;
    height: 5.1875rem;
    flex-shrink: 0;
    position: fixed;
    top: 5.9rem;
    left: 32.4rem;
    background-image: url("./imgs/red\ ball.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.purpleball {
    width: 3.75rem;
    height: 3.75rem;
    flex-shrink: 0;
    fill: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.21) 78.59%, rgba(86, 24, 128, 0.23) 100%);
    filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
    backdrop-filter: blur(2px);
    background-image: url("./imgs/purple\ ball.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: -0.1rem;
    left: 54.3rem;
    border: none;
}

.sm {
    width: 1.75rem;
    height: 1.75rem;
    flex-shrink: 0;
    top: 34.2rem;
    left: 53.2rem;
}

.purpleblur {
    width: 16.1875rem;
    height: 16.1875rem;
    flex-shrink: 0;
    border-radius: 16.1875rem;
    opacity: 0.5;
    background: #833AB4;
    filter: blur(196px);
    position: fixed;
    top: -9.6rem;
    left: 37rem;
    z-index: 1;
}

.redblur {
    width: 19.4375rem;
    height: 19.4375rem;
    border-radius: 19.4375rem;
    opacity: 0.5;
    background: #961A1A;
    filter: blur(196px);
    position: fixed;
    left: -6.4rem;
    top: 15.7rem;

}

.container {
    width: 71.3rem;
    display: flex;
    margin: 0 auto;
}


/* /////////////header/////////////////////// */


.logo {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    width: 10.3125rem;
    margin-right: 3.25rem;
}

.part1 {
    width: 35px;
    height: 24px;
    background-image: url("./imgs/part1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.5rem;
}

.part2 {
    width: 97px;
    height: 15px;
    background-image: url('./imgs/part2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo_text {
    color: #E4E5EA;
    color: #E4E5EA;
    font-family: Montserrat;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 10.3125rem;
    margin-top: 0.62rem;
}

.menu_item>a,
.phone_number>a {
    color: var(--light-text, #E4E5EA);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    z-index: 10;
    position: relative;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 31.4rem;
    height: 1.19rem;
    margin-right: 8.56rem;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.contacts {
    display: flex;

}

.medias {
    margin-left: 2.94rem;
    display: flex;
    width: 7.5rem;
    justify-content: space-between;
    list-style: none;
}

.phone_number {
    display: block;
    min-width: fit-content;
}

/* //////////////////main/////////////////////// */
.left {
    margin-top: 5.63rem;
}

.left_text {
    color: #E4E5EA;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left_decorator {
    background-image: linear-gradient(to right, #FCB045, #FF3F78);
    color: transparent;
    background-clip: text;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.left_text_sm {
    color: var(--light-text, #E4E5EA);
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.87rem;
    width: 17.1875rem;
}

.right {
    margin-top: 6.56rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.right_title {
    width: 18.1875rem;
    color: var(--light-text, #E4E5EA);
    text-align: right;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2.5rem;
}

.right_decorator {
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05625rem;
    text-transform: uppercase;
}

.main-wrapper {
    justify-content: space-between;
    margin-bottom: 4.31rem;
}



.item_title {

    color: var(--light-text, #E4E5EA);
    text-align: right;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.05625rem;
    text-transform: uppercase;
    margin-bottom: 0.37rem;
}

.item_text {
    color: #E4E5EA;
    text-align: right;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.item_1_text {
    width: 5.5625rem;
}

.item_2_text {
    width: 8.4375rem;
}

.item_3_text {
    width: 9.25rem;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    margin-bottom: 3.81rem;
}

.right_btn {
    width: 16.375rem;
    height: 3.8125rem;
    flex-shrink: 0;
    text-align: center;
    background-color: #4077F3;
    color: #E4E5EA;
    font-size: 16px;
    font-family: Inter;
    text-decoration: none;
    display: block;
    padding: 1.31rem;
}


/* ///////////////footer///////////////// */

.footer_wrapper {
    display: flex;
    justify-content: space-between;
}

.footer_col {
    list-style: none;

}

.col1 {
    margin-right: 3.25rem;
}

.footer_col_title {
    color: var(--dark-gray, #656566);

    /* маленькие заголовки */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.04375rem;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}

.col_item>a {
    color: var(--light-text, #E4E5EA);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}

.col_item {

    margin-bottom: 0.63rem;
}

.last_col {
    text-align: right;
}

.footer_medias {
    display: flex;
    justify-content: space-between;
    width: 5rem;
    margin-left: 12.3rem;

}

.copyright {
    margin-top: 4.38rem;
}

.copyright>a {
    color: var(--light-text, #E4E5EA);
    text-align: right;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: none;
}

.underline {
    text-decoration: none;
    border-bottom: 0.1px solid white;
    margin-top: 0.31rem;
}

/* ///////////media/////////// */
.container_mb {
    display: none;
}

.second_col_mb {
    display: none;
}

.features_mb {
    display: none;
}

.col_wrapper {
    display: flex;
}

@media (max-width: 750px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .footer_mb {
        width: 100%;
        padding-bottom: 3.75rem;
    }

    /* header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .container_mb {
        display: flex;
        justify-content: space-around;
        /* width: 100%; */
        margin-top: 0;
    }

    .nav_item_mb>a {
        color: var(--light-text, #E4E5EA);
        font-family: Inter;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: none;
    }

    .header_wrapper {
        display: none;
    }

    .main-wrapper {
        width: 100%;
        flex-direction: column;
        margin-left: 0.94rem;
        position: relative;
        margin-top: 1.25rem;
    }

    .right {
        margin-top: 2.81rem;
        align-items: normal;
        flex-direction: column;
    }

    .right_title {
        text-align: unset;
    }



    .left_text {
        color: var(--light-text, #E4E5EA);
        font-family: Inter;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .left_decorator {
        background-image: linear-gradient(to right, #FCB045, #FF3F78);
        color: transparent;
        background-clip: text;
        font-family: Inter;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .right_btn {
        display: none;
    }


    .right_title {
        width: 18rem;
        color: var(--light-text, #E4E5EA);
        font-family: Inter;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 1.25rem;
    }

    .features {
        display: none;
    }

    .features_mb {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 19rem;
    }

    .features_item_mb>p {
        color: var(--light-text, #E4E5EA);
        font-family: Montserrat;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.04063rem;
        text-transform: uppercase;
        margin-right: 0.3125rem;
        ;
    }

    .line {
        width: 0.625rem;
        height: 0.0625rem;
        background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    }

    .features_item_mb {

        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 0.3125rem;
    }

    .footer_wrapper {
        display: flex;
        flex-direction: column;
    }

    .col_wrapper {
        display: flex;
    }

    footer {

        flex-shrink: 0;
        padding-left: 0.94rem;
    }

    .footer_col {
        display: flex;
        flex-direction: column;
    }

    .second_col_mb {
        display: flex;
    }

    .second_col {
        display: none;
    }

    .footer_col_title {
        color: var(--dark-gray, #656566);

        /* маленькие заголовки */
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.04375rem;
        text-transform: uppercase;
        margin-bottom: 1.25rem;
        margin-top: 1.87rem;
    }

    .last_col {
        text-align: left;
    }

    .footer_medias {
        display: flex;
        justify-content: space-between;
        width: 5rem;
        margin: 0;
    }

    .fix_width {
        width: 7rem;
    }

    .redblur {
        width: 16.1875rem;
        height: 16.1875rem;
        flex-shrink: 0;
        border-radius: 16.1875rem;
        opacity: 0.5;
        background: #961A1A;
        filter: blur(196px);
        position: fixed;
        left: -3.4rem;
        top: 20.1rem;

    }

    .purpleblur {
        width: 16.1875rem;
        height: 16.1875rem;
        flex-shrink: 0;
        border-radius: 16.1875rem;
        opacity: 0.5;
        background: #833AB4;
        filter: blur(196px);
        position: fixed;
        top: 6.69rem;
        left: 16.1rem;
        z-index: 1;
    }

    .redball {
        fill: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(255, 208, 208, 0.54) 0%, rgba(212, 93, 93, 0.26) 59.67%, rgba(167, 49, 49, 0.25) 78.59%, rgba(130, 25, 25, 0.25) 100%);
        filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
        /* backdrop-filter: blur(2px); */
        width: 2.6875rem;
        height: 2.6875rem;
        flex-shrink: 0;
        position: absolute;
        top: 33.1rem;
        left: 1.81rem;
        background-image: url("./imgs/red\ ball.png");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;

    }

    .purpleball {
        width: 2.5rem;
        height: 2.5rem;
        flex-shrink: 0;
        fill: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.21) 78.59%, rgba(86, 24, 128, 0.23) 100%);
        filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
        backdrop-filter: blur(2px);
        background-image: url("./imgs/purple\ ball2.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 24.8rem;
        left: 27rem;
        border: none;
    }

    .glass {
        width: 100%;
        height: 27.8125rem;
        position: absolute;
        top: 5.44rem;
        z-index: -2;
        flex-shrink: 0;
        background: radial-gradient(304.35% 148.2% at 3.2% 3.49%, rgba(255, 246, 233, 0.10) 0%, rgba(26, 29, 35, 0.10) 26.62%, rgba(26, 29, 35, 0.10) 52.1%, rgba(26, 29, 35, 0.01) 70.17%, rgba(26, 29, 35, 0.00) 100%);
        backdrop-filter: blur(7.5px);
    }

    .yellowblur {
        width: 12.5rem;
        height: 12.5rem;
        flex-shrink: 0;
        fill: #FCB045;
        opacity: 0.4;
        filter: blur(196px);
        position: absolute;
        top: 32.4rem;
        left: -4.1rem;
    }

    .noise {
        width: 100%;
        height: 100%;
        background: url('./imgs/noise.png'), lightgray 0% 0% / 100px 100px repeat;
        mix-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
    }
}
